@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
}
img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
footer {
    background: #3f85c0;
    padding-top: 100px;
}

ul,body,p,a {list-style: none;padding: 0px;color: inherit;margin: 0px;}

.footercopyrights {
    margin-top: 100px;
    padding: 10px;
    border-top: 1px solid #cccc;
}

footer a {
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    font-weight: 100;
    margin-bottom: 11px;
}

footer h3 {
    font-size: 21px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 10px;
}

a:hover {
    text-decoration: none;
}

footer input {
    height: 45px;
    width: 100%;
    background: none;
    border: none;
    color: #ffff;
    font-size: 13px;
    border-bottom: 1px solid #ffff;
}

footer input::placeholder {
    color: #ffff;
}

footer button {
    margin: 20px 0px 0px;
    background: #2c5577;
    color: #fff;
    padding: 7px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    border: 2px solid #2c5577;
}
.newsletterform h4 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 21px;
}
.newsletterform {
    color: #fff;
}
.newsletterform p {
    font-size: 11px;
    margin-bottom: 20px;
}
.bestSUnit {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bestSUnit label {
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}

.bestSUnit input {
    width: 100%;
    height: 45px;
    background: none;
    border: none;
    border-bottom: 1px solid#cccc;
}

.bestSUnit h2 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 70px;
}

.bestSUnit button {
    background: #2c5577;
    border: 2px solid #2c5577;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: max-content;
    padding: 10px 50px;
    margin: 50px auto 0px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.bestSUnit button i {
    margin-left: 20px;
}

.bestSUnit button:hover {
    background: none;
    color: #2c5577;
}

input:focus {
    outline: none !important;
}

input {
    font-size: 14px;
}
.containerheaderTop ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.containerheaderTop li {
    margin-right: 40px;
    color: #fff;
}

.containerheaderTop i {}

div#headerTop {
    background: #2c5577;
    padding: 10px;
}

.containerheaderTop li i {
    margin-right: 10px;
}

a:hover {
    color: inherit;
}
.mainMenu >  ul {
    display: flex;
    justify-content: space-between;
}

.mainMenu > ul li {
    position: relative;
    margin-right: 30px;
    padding: 35px 0px;
}

.mainMenu > ul > li > ul {
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    display: block;
    top: 100%;
    min-width: 200px;
    z-index: 9999;
    box-shadow: 0px 0px 14px -2px #cccc;
}

div#headercontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannermain {
    /*min-height: 700px;*/
    /*background: red;*/
}

.mainMenu > ul > li > ul > li {
    padding: 0px;
    margin: 0px;
}

.mainMenu > ul > li > ul > li a {
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 10px 10px;
}

.mainMenu > ul > li > ul > li a:hover {
    background: #2c5577;
    color: #fff;
}

.mainMenu > ul > li > a:hover {
    color: #2c5577;
}

.mainMenu > ul > li > a {
    font-weight: 600;
}
ul.submenu {
    visibility: hidden;
    opacity: 0;
}

li.menu-item-has-children:hover .submenu {
    opacity: 1;
    visibility: visible;
}
.searchAndLoginContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchAndLoginContainer input {
    height: 45px;
    background: none;
    border: none;
    border-bottom: 1px solid #cccc;
}

.searchAndLoginContainer button {
    position: absolute;
    right: 0px;
    z-index: 9;
    height: 45px;
    background: none;
    border: none;
}

.searchAndLoginContainer form {
    position: relative;
    margin-right: 20px;
}

.searchAndLoginContainer > a {
    background: #2c5577;
    color: #ffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid #2c5577;
}
.searchAndLoginContainer > a:hover {
    color: #2c5577;
    background: none;
}
.row {
    margin: 0px;
}
.containermax {
    width: 100%;
    height: 100%;
}

div.slideshow {
    min-height: 600px;
    background: #cccc
}

ul.slick-dots {
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul.slick-dots li {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

ul.slick-dots li button {
    display: none;
}

ul.slick-dots li:nth-child(even) {
    margin: 0px 6px;
}

ul.slick-dots li.slick-active {
    background: #2c5577;
}
button.slick-prev.slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 60px;
    width: 50px;
    font-size: 0;
    z-index: 999;
    background: none;
    border: none;
    left: 20px;
}

button.slick-prev.slick-arrow::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: 3px solid #000;
    border-right: 0;
    border-top: 0;
    transform: rotate(45deg);
}
*:focus {
    box-shadow: none !important;
    outline: none !important;
    border: none;
}

button.slick-next.slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 60px;
    width: 50px;
    font-size: 0;
    z-index: 999;
    background: none;
    border: none;
    right: 20px;
}

button.slick-next.slick-arrow::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: 3px solid #000;
    border-right: 0;
    border-top: 0;
    transform: rotate(-135deg);
}

.sliderhomepagelistings {
    padding: 0px 70px;
}
.contentinnerslider img {
    width: 100%;
    height: 200px;
    background: #2c5577;
    max-width: 90%;
    border: none;
}

.contentinnerslider h2 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-width: 90%;
    background: #fff;
    display: block;
    min-height: 80px;
    padding: 10px;
}

.contentinnerslider h2 a {
    display: block;
    background: #2c5577;
    color: #fff;
    font-size: 13px;
    padding: 10px 20px;
    max-width: max-content;
    margin: 20px 0px 10px 0px;
}
.listinghoempage {
    padding: 100px 0px 0px;
}

a#viewmore {
    max-width: max-content;
    padding: 20px 50px;
    background: #2c5577;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    margin: 60px auto 0px;
}

.contentinnerslider h2 a {
    font-weight: 400;
}
header {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.tagscontainer {
    padding: 100px 0px;
}

.tagscontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tagscontainer a {
    flex: 0 31%;
    background: #2c5577;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
}

.blogcontainers h2 {
    font-weight: 700;
    font-size: 29px;
}

.blogcontainers p {
    margin: 20px 0px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
}

.blogcontainers a {
    font-weight: 600;
    text-transform: uppercase;
    background: #2c5577;
    display: block;
    max-width: max-content;
    padding: 10px 40px;
    color: #fff;
    border-radius: 40px;
    font-size: 13px;
    margin: 40px 0px;
}

.blogcontainers .col-md-12 {
    margin-bottom: 50px;
}

.blogcontainers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.authorcontainers {
    display: flex;
    flex-wrap: wrap;
}

.authorcontainers .contentsliderImage {
    flex: 0 33%;
}

.bestSUnit button {
    border-radius: 30px;
}

a#viewmore {
    border-radius: 40px;
}

.searchAndLoginContainer > a {
    border-radius: 30px;
    font-size: 13px;
}
.containerheaderTop {
    display: flex;
    justify-content: space-between;
}
.searchbar {
    padding-top: 50px;
}

.searchbar form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar input {
    width: 90%;
    height: 55px;
    background: none;
    border: none;
    border-bottom: 3px solid #2c5577;
}

.searchbar button {
    width: 10%;
    height: 55px;
    background: #2c5577;
    border: 2px solid #2c5577;
    color: #fff;
    border-radius: 60px;
}
.study .col-md-8 {
    margin-top: 50px;
}
.likeandshare ul {
    display: flex;
    align-items: center;
}

.likeandshare li {
    border: 1px solid #2c5577;
    padding: 12px 30px;
    background: #2c5577;
    color: #fff;
    margin-right: 2px;
}

.likeandshare {
    margin: 50px 0px;
}

.likeandshare li:hover {
    color: #2c5577;
    background: none;
}
.commentsectiionssinglepage {
    max-width: 700px;
    margin: auto;
    display: flex;
    align-items: flex-start;
}

.imagecontainer {
    width: 40px;
    height: 40px;
    border: 2px solid #cccc;
    border-radius: 50%;
}

.formcomment {width: 100%;margin-left: 30px;}

.formcomment textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: none;
    border-bottom: 4px solid #2c5577;
}

.commentsectiionssinglepage button {
    margin-left: auto;
    display: block;
    padding: 10px 70px;
    color: #fff;
    border: 2px solid #2c5577;
    background: #2c5577;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 40px 0px 40px auto;
}
.titleblogdetail .col-md-6:first-child {
    padding-left: 0px;
}

.titleblogdetail p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
}

.titleblogdetail h2 {
    font-size: 42px;
    font-weight: 800;
    color: #000;
}

.blogdetail {
    padding: 100px 0px 0px;
}
.reviews .col-md-12 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.imagecontainerreview {
    width: 30%;
    background: #cccc;
    min-height: 220px;
}

.contentcontainerreviews {
    width: 68%;
    background: white;
    box-shadow: 0px 0px 24px -5px #cccc;
    padding: 40px;
}

.contentcontainerreviews h2 {
    font-size: 28px;
    font-weight: 700;
}

.contentcontainerreviews p {
    font-size: 14px;
}

.contentcontainerreviews .checked {
    color: orange;
}

.startchecker {
    display: block;
    margin: 20px 0px 0px;
}

a#reviewss {
    background: #2c5577;
    color: #fff;
    padding: 10px 40px;
    display: block;
    max-width: max-content;
    margin: 30px 0px 0px;
}
.containerlabels label, .studentunivesity > label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.containerlabels input, .containerlabels textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid #2c5577;
    resize: none;
    margin-bottom: 40px;
}

form.reviewform {
    padding: 40px 0px 0px;
}

.containerlabels input {
    height: 50px;
}

.containerlabels textarea {
    height: 120px;
    margin-bottom: 20px;
}

.radios input ~ label {
    background: #3f85c0;
    padding: 5px 24px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    border: 2px solid #3f85c0;
}

.radios input {
    display: none;
}

.radios input:checked ~ label {
    background: none;
    color: #3f85c0;
}

.radios {
    margin: 20px 0px 10px;
}

form.reviewform button {
    background: #3f85c0;
    color: #fff;
    padding: 5px 40px;
    border: 2px solid;
}

form.reviewform button:hover {background: none;color: #3f85c0;}
.reviewpages .imagecontainerreview {
    max-height: 300px;
}
.containerreviewigk {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 24px -5px #cccc;
    margin-bottom: 40px;
    border: 1px solid #cccc;
    padding: 50px 40px;
    align-items: center;
    padding-left: 0px;
}

.imagecontianerdetailreviews {
    width: 30%;
}

.contentreviewdetail {
    width: 70%;
}

.imagecontianerdetailreviews img {
    width: 90px;
    height: 90px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

.imagecontianerdetailreviews h5 {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    margin: 20px 0px 0px;
}

.contentreviewdetail p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 20px;
}
.universitynames {
    padding: 100px 0px;
}

.universitynames h2 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 20px;
}

.startchcker span {
    margin-left: 20px;
}
.tagscontainer a {
    border: 2px solid #2c5577;
}

.tagscontainer a:hover {
    background: none;
    color: #2c5577;
}

a#viewmore:hover {
    background: none;
    color: #2c5577;
}

a#viewmore {
    border: 2px solid #2c5577;
}
.titleforum {
    display: flex;
    align-items: center;
}

.titleforum img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

h2 {}

.columnnumber {
    border: 1px solid #cccc;
}

.columnnumber h2 {
    padding: 20px;
    font-size: 17px;
    font-weight: 700;
    background: #2c5577;
    color: #fff;
}

.containercontentforumclumns li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #cccc;
    margin-bottom: 40px;
}

.containercontentforumclumns li:last-child {
    border: none;
}

.titleforum h3 span {
    display: block;
    font-size: 13px;
    font-weight: 100;
    margin: 10px 0px 0px;
}

.titleforum h3 {padding-left: 20px;font-size: 22px;font-weight: 600;}

.postnumbers {
    text-align: center;
    text-transform: capitalize;
}
.columnnumber {
    margin-bottom: 50px;
}
.containerdetailf {display: flex;flex-wrap: wrap;border: 1px solid #cccc;margin-bottom: 40px;padding: 20px;padding-left: 0px;box-shadow: 0px 0px 34px -1px #cccc;padding-bottom: 0px;}

.imageandtitlecontainer {
    width: 30%;
}

.contentdetailfinner {
    flex: 0 70%;
}

.imageandtitlecontainer img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 40px auto;
}

.imageandtitlecontainer {
    text-align: center;
}

.imageandtitlecontainer h5 {
    font-size: 15px;
    font-weight: 600;
}

.imageandtitlecontainer h6 {
    font-size: 22px;
    font-weight: 700;
}

.contentdetailfinner h6 {
    margin-bottom: 40px;
    font-weight: 600;
}

.contentdetailfinner p {
    font-size: 16px;
    line-height: 28px;
    max-width: 90%;
}
.contactUs .bestSUnit {
    min-height: auto;
}

.contactUs {
    padding: 100px 0px;
}

.contactUs h2 {
    font-size: 54px;
    font-weight: 700;
    padding: 0px;
    margin-bottom: 30px;
}

.contactUs p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 40px;
}

.contactUs a {
    display: block;
    margin-bottom: 20px;
    color: #2c5577;
}

.contactUs i {
    margin-right: 10px;
}
.contactUs .bestSUnit h2 {
    flex: 0 100%;
    margin-bottom: 40px;
}

.contactUs .bestSUnit {
    flex-wrap: wrap;
}

.contactUs .bestSUnit input {
    margin-bottom: 30px;
}










/*media*/
@media only screen and (max-width: 767px) {
.mainMenu {
    display: none;
}

.bannermain .col-md-8 {
    order: 1;
    padding: 0px;
}

.bannermain .col-md-2 {
    order: 2;
}

body {
    overflow-x: hidden !important;
}

div.slideshow {
    min-height: 350px;
}

.sliderhomepagelistings {
    padding: 0px;
}

a#viewmore {
    font-size: 11px;
    padding: 8px 30px;
}

.bestSUnit h2 {
    font-size: 27px;
    margin-bottom: 30px;
}

.bestSUnit input {
    margin-bottom: 20px;
}

.containerheaderTop {
    display: flex;
    flex-wrap: wrap;
}

.containerheaderTop ul {
    margin-bottom: 10px;
    flex: 0 42%;
}

.containerheaderTop ul li {
    margin: 0px 4px;
}

footer {
    padding: 40px 0px;
}

footer .col {
    margin-bottom: 30px;
}

footer h3 {
    font-size: 16px;
}

footer a {
    font-size: 12px;
}
.authorcontainers .contentsliderImage {
    flex: 0 100%;
}

.contentinnerslider {
    width: 100%;
}
.containerdetailf {
    padding: 20px;
}

.imageandtitlecontainer {margin: auto;}
.contentdetailfinner h6 {
    margin: 40px 0px 10px;
}

.contentdetailfinner p {
    font-size: 13px;
    line-height: 22px;
}

.likeandshare li {
    padding: 10px;
    font-size: 11px;
}
}