h2.heading {
    text-align: center;
    font-size: 30px;
    max-width: 580px;
    margin: 0px auto 60px;
    color: #434343;
    font-weight: 400;
}

ul.containerBOxedHOmepage {
    list-style: none;
    -moz-column-count: 3;
    -moz-column-gap: 16px;
    -moz-column-rule: ;
/*Saf3, Chrome*/
    /* -webkit-column-count: 3; */
    /* -webkit-column-gap: 16px; */
    -webkit-column-rule: ;
    /* column-count: 3; */
    /* column-gap: 16px; */
    column-rule: ;
    max-width: 1382px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.containerBOxedHOmepage li:first-child {
    background: #FEFFED;
}

.innerBoxContaienr {
    padding: 40px;
}

.numberIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.containerBOxedHOmepage li:first-child span.number {
    background: #EADB25;
    display: block;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.headingInner h4 {
    color: #434343;
    font-size: 23px;
}

p.boxContainerContent {
    color: #434343;
    opacity: 0.8;
    line-height: 30px;
    font-weight: 400;
    margin: 0px 0px 20px;
}

span.number {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

ul.containerBOxedHOmepage li:nth-child(2) span.number {
    background: #FF8F8F;
}

ul.containerBOxedHOmepage li:nth-child(2) {
    background: #FFF5F5;
    display: block;
}

ul.containerBOxedHOmepage li:nth-child(3) {
    background: #F4FFF0;
}

ul.containerBOxedHOmepage li:nth-child(3) .number {
    background: #48C11C;
}

ul.containerBOxedHOmepage li:nth-child(4) {
    background: #FFF5EF;
}

ul.containerBOxedHOmepage li:nth-child(4) .number {
    background: #FFBE55;
}

ul.containerBOxedHOmepage li:nth-child(5) {
    background: #F4F4F4;
}

ul.containerBOxedHOmepage li:nth-child(5) .number {
    background: #464646;
}

ul.containerBOxedHOmepage li:nth-child(6) {
    background: #F5F7FF;
}

ul.containerBOxedHOmepage li:nth-child(6) .number {
    background: #3049AD;
}

ul.containerBOxedHOmepage li {
    flex: 0 32.7%;
    margin-bottom: 10px;
}
.containerblogType h2.heading {
    max-width: 1000px;
}

p.umderPara {
    max-width: 1000px;
    margin: 0px auto 50px;
    text-align: center;
    color: #212121;
    opacity: 0.8;
    font-size: 17px;
    line-height: 27px;
}

.containerBlogTYpe ul {
    padding: 0px;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1382px;
    margin: auto;
    align-items: flex-start;
}

.containerBlogTYpe li {
    flex: 0 33%;
    max-width: 33%;
}

.containerBlogTYpe img {
    max-height: 260px;
    object-fit: cover;
    width: 100%;
}

.contentBlogtypePost h4 {
    color: #212121;
    font-size: 18px;
    font-weight: 400;
    max-width: 80%;
    line-height: 30px;
}

.contentBlogtypePost a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #212121;
    opacity: 0.6;
}

.containerBlogTYpe {
    margin-bottom: 100px;
}
.contactPageInfoSection ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
    list-style: none;
}

.contactPageInfoSection li:nth-child(3n -1) {
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
}

.contactPageInfoSection li {
    flex: 0 33%;
}

.iconSvg {
    max-width: 50%;
    margin: auto;
    text-align: center;
}

ul.infoItems {
    margin: 100px 0px;
}

ul.infoItems h6 {
    font-size: 21px;
    margin: 20px 0px;
    color: #333333;
}

ul.infoItems li a, ul.infoItems li {
    color: #666666;
    display: block;
    text-decoration: none;
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
}
.sectionBackgroundgrey {
    background: #F8F8F8;
    padding: 100px 0px;
}

.locaTeamMemberInnerContainer {
    max-width: 70%;
    margin: auto;
}

.designation {
    color: #000;
    opacity: 0.5;
    text-transform: uppercase;
}

.nameLocalTeam {
    margin: 10px 0px;
    color: #1A1A1A;
    opacity: 0.8;
    font-size: 27px;
    margin-bottom: 20px;
}

.mailtoTeam {
    color: #1F1F1F;
    opacity: 0.5;
    display: block;
    text-decoration: none;
}

.telTeamLocal {
    color: #1F1F1F;
    opacity: 0.5;
    display: block;
    text-decoration: none;
    margin: 5px 0px 0px;
}

ul.localTeamMebers li {
    margin-bottom: 50px;
}
.aboutPage {
    text-align: center;
}

.aboutPage .container {
    max-width: 1000px;
    margin: auto;
    padding: 60px 0px;
}

.pageHeading {
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
}

.contentContainrPage p {
    color: #666666;
    line-height: 26px;
    margin-bottom: 25px;
}

.aboutPage img {
    max-width: 100%;
}
.contactLessDelivery {
    background: #F2F2F2;
    padding: 50px 0px;
}

.contactLessDelivery ul {
    padding: 0px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.contactLessDelivery li {
    flex: 0 33%;
}

.contactLessDelivery {
    text-align: center;
    margin: 50px 0px;
}

.contactLessDelivery h2 {
    font-size: 40px;
    margin-bottom: 70px;
    color: #1A1A1A;
}

.contactLessDelivery h4 {
    font-size: 24px;
    margin: 20px 0px 0px;
    color: #1A1A1A;
}

.contactLessDelivery p {
    color: #434343;
    opacity: 0.7;
    font-size: 15px;
}


/*acordian*/

.accordion .accordion-item {
  border-bottom: 1px solid #96969624;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #1a1a1a;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #1A1A1A;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  border: none;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 4px;
  width: 10px;
  height: 2px;
  background: #B1B1B1;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 8px;
  width: 3px;
  height: 10px;
  background: #B1B1B1;
}
.accordion button[aria-expanded='true'] {
  color: #1a1a1a;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
  text-align: left;
  color: #666666;
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
}
